<div class="about">
  <div class="about-item">
    <h2 class="about-name">关于作者</h2>
    <p>
      前端开发，会点JavaScript、了解vue、angular、react、node。爱折腾爱玩
    </p>
  </div>
  <div class="about-item">
    <h2 class="about-name">关于博客</h2>
    <p>
      该博客用Angular4实现，koa2提供数据接口，部署在腾讯云的服务器上，博客的初衷是希望把自己平常工作学习总结的东西记录下来，以便不时之需可以查阅。
      博客源码<a href="https://github.com/linguowei/blog-angular" target="_black">GitHub</a>
    </p>
  </div>
  <div class="about-item">
    <h2 class="about-name">联系作者</h2>
    <ul>
      <li>电子邮箱：1368033036@qq.com</li>
      <li>GitHub： 
        <a href="https://github.com/linguowei" target="_black">https://github.com/linguowei</a>
      </li>
      <li>SegmentFault： 
        <a href="https://segmentfault.com/u/linguowei" target="_black">https://segmentfault.com/u/linguowei</a>
      </li>
    </ul>
  </div>
</div>