<div class="login-wrap">
  <div class="login-title">
    <i class="ion-social-angular-outline"></i>
    BLOG-ADMIN
  </div>
  <div class="login-panel">
    <input type="text" class="login-name" placeholder="username" [(ngModel)]="name">
    <input type="password" class="login-pwd" placeholder="password" (keydown.enter)="login()" [(ngModel)]="pwd">
    <button type="submit" class="login-submit" (click)="login()">Login</button>
    <!-- <div class="case-number">tips 账号:test 密码: 123456</div> -->
  </div>
</div>
<div class="github">
  <a href="https://github.com/linguowei/blog-angular" target="_blank">
    <i class="ion-social-github"></i>
  </a>
</div>