.tag{
  max-width: 600px;
  margin: 0px auto;
  padding: 0 30px 50px;
  position: relative;
  .tag-item{
    margin: 35px 0;
    .tag-name{
      border-bottom: 3px solid #3db8c1;
      display: inline;
      padding: 5px;
      font-weight: 600;
      color: #444;
    }
    .article-list{
      margin-top: 20px;
      li{
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding: 20px 0px;
        h3{
          font-size: 13px;
          color: #999;
          position: absolute;
          left: 0;
          top: 28px;
          margin: 0 0 0 15px;
          font-weight: 400;
          letter-spacing: 1px;
        }
        h2{
          font-size: 20px;
          margin-left: 120px;
          color: #444;
          font-weight: 400;
          letter-spacing: 1px;
          cursor: pointer;
          &:hover{
            color: #3db8c1;
          }
        }
      }
    }
  }
  
}

// 如果屏幕小于768px
@media screen and (max-width: 768px) {
  .tag{
    padding-top: 75px;
    .tag-item{
      .tag-name{
        font-weight: 500;
      }
      .article-list{
        li{
          padding: 15px 0;
          h3{
            position: static;
            padding: 5px 0;
            margin: 0 0 0 10px;
          }
          h2{
            margin-left: 10px;
            font-size: 15px;
          }
        }
      }
    }
  }
}