.top-bar{
  // width: 100%;
  // height: 124px;
  .log{
    width: 124px;
    position: fixed;
    top: 0;
    left: 20px;
    img{
      width: 124px; 
      height: 124px;
      cursor: pointer;
    }
  }
  .main-nav{
    position: fixed;
    top: 45px;
    right: 20px;
    z-index: 100;
    ul{
      li{
        float: left;
        margin: 0 18px;
        font-size: 15px;
        color: #232323;
        padding: 5px;
        cursor: pointer;
        &:hover{
          background-color: #f6f6f6;
        }
      }
    }
  }
  .main-nav-mobile{
    display: none;
  }
}

.content{
  padding-top: 124px;
  // max-height: 100vh;
  // overflow: scroll;
  // -webkit-overflow-scrolling: touch;
}

.footer{
  display: block;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

// 如果屏幕小于768px
@media screen and (max-width: 768px) {
  .top-bar{
    width: 100%;
    height: 75px;
    background-color: #fff;
    position: fixed;
    z-index: 90;
    box-shadow: 1px 2px 3px #e6e6e6;
    .log{
      width: 75px;
      position: fixed;
      top: 0;
      left: 15px;
      img{
        width: 75px; 
        height: 75px;
      }
    }
    .main-nav{
      display: none;
    }
    .main-nav-mobile{
      display: block;
      .mobile-nav{
        position: absolute;
        right: 20px;
        top: 16px;
        font-size: 40px;
      }
      ul{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        position: fixed;
        top: 75px;
        width: 100%;
        background: #fff;
        z-index: 90;
        box-shadow: 1px 2px 3px #e6e6e6;
        li{
          text-align: center;
          margin: 3px 0;
          height: 30px;
          line-height: 30px;
          font-size: 15px;
          font-weight: 300;
        }
      }
    }
  }

  .content{
    padding-top: 0; 
  }

  .footer{
    position: static;
    width: 100%;
    height: 40px;
    text-align: center;
  }
}