<div class="archives">
  <span>
    <span class="year">
      2017
    </span>
    <ul class="articles-list">
      <li *ngFor="let item of articleList">
        <span class="time">{{item.date | date:"yyyy-MM-dd"}}</span>
        <span class="articles-title">{{item.title}}</span>
      </li>
      <li *ngFor="let item of articleList">
        <span class="time">{{item.date | date:"yyyy-MM-dd"}}</span>
        <span class="articles-title">{{item.title}}</span>
      </li>
      <li *ngFor="let item of articleList">
        <span class="time">{{item.date | date:"yyyy-MM-dd"}}</span>
        <span class="articles-title">{{item.title}}</span>
      </li>
      <li *ngFor="let item of articleList">
        <span class="time">{{item.date | date:"yyyy-MM-dd"}}</span>
        <span class="articles-title">{{item.title}}</span>
      </li>
    </ul>
  </span>
</div>